<h1>管理画面</h1>
<% @users.each do |user| %>
  <ul>
    <li>
      <div>ID:<%= user.id %></div>
    </li>
    <li>
      <div>NAME:<%= user.name %></div>
    </li>
    <li>
      <%= link_to "アカウント削除", hobbyspot_user_path(user.id), data: { confirm: "削除しますか?" }, method: :delete, id:"#{user.id}" %>
    </li>
  </ul>
<% end %>
