<div class="form sign-form">
  <div class="flash_message">
    <div class="notice">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
    </div>
  </div>
  <h1>プロフィール</h1>
    <div>
      <h2>ユーザー名:<%= @user.name %></h2>
    </div>
  <%= link_to 'プロフィール編集', edit_hobbyspot_user_registration_url %>
</div>
