<div class="header-item">
<a href="/hobbyspot">ほびスポ</a>
  <ul class="right-menu">
    <li class="guest-menu">
      <%= link_to "新規登録", new_hobbyspot_user_registration_url %>
    </li>
    <li class="guest-menu">
      <%= link_to "ログイン", new_hobbyspot_user_session_url %>
    </li>
  </ul>
</div>
