<div class="header-item">
  <%= link_to "ほびスポ", hobbyspot_path, class:"menu top-logo" %>
  <ul class="sub-menu">
    <li class="menu guest-menu">
      <%= link_to "新規登録", new_hobbyspot_user_registration_url %>
    </li>
    <li class="menu guest-menu">
      <%= link_to "ログイン", new_hobbyspot_user_session_url %>
    </li>
  </ul>
</div>
