<div class="header-item">
  <a href="/hobbyspot">ほびスポ</a>
    <ul class="right-menu">
      <li class="guest-menu">
        <%= button_to 'Exit', '/hobbyspot/users/sign_out', method: :delete %>
      </li>
    </ul>
  </div>
