<div>
  <p>趣味の画像を投稿するSNSです</p>
  <div class="raw">
    <% @posts.each do |post| %>
        <ul>
          <li class="user-post post-image">
            <%= post.user_name %>:<%= post.body %>
            <%= image_tag "#{post.image}" %>---<%= post.created_at %>
          </li>
        </ul>
    <% end %>
  </div>
</div>
