<header class="Header">
  <a href="/hobbyspot">ほびスポ</a>
    <ul class="right-menu">
      <li class="guest-menu">
        <%= link_to "新規登録", hobbyspot_users_url %>
      </li>
      <li class="guest-menu">
        <%= link_to "ログイン", hobbyspot_users_login_url %>
      </li>
    </ul>
</header>

<main>
  <p>趣味の画像を投稿するSNSです</p>
</main>

<footer>
  <p>hobby spot</p>
</footer>
