<div class='index-raw'>
  <h1>趣味の画像を投稿するSNSです</p>
  <div class="raw">
    <% @posts.each do |post| %>
        <ul>
          <li class="user-post post-image">
            <%= post.user_name %>:<%= post.body %>
            <div class="post-at"><%= post.created_at %></div>
          </li>
        </ul>
    <% end %>
  </div>
</div>
