<header class="Header">
  <a href="/hobbyspot">ほびスポ</a>
    <ul class="right-menu">
      <li class="guest-menu">新規登録</li>
      <li class="guest-menu">ログイン</li>
    </ul>
</header>

<main>
  <p>趣味の画像を投稿するSNSです</p>
</main>

<footer>
  <p>hobby spot</p>
</footer>
