/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

li {
  list-style-type: none;
}

a {
  color: #fff;
  padding: 5px 10px;
  margin-right: 15px;
  background-color: green;
  border-radius: 20px;
}

/*----------
||TOP PAGE||
-----------*/
.header-item {
  color: #000;
  margin-top: -10px;
  margin-left: -10px;
  position: relative;
  background-color: orange;
  padding: 30px;
}

.right-menu {
  position: absolute;
  display: flex;
  right: 20px;
  top: 10px;
}

.menu {
  color: #fff;
  padding: 5px 10px;
  margin-right: 15px;
  background-color: green;
  border-radius: 20px;
}

.raw {
  padding-bottom: 35px;
}

footer {
  color: #fff;
  background-color: #000;
  margin-left: -10px;
  bottom: 0px;
  text-align: center;
  width: 100%;
  position: fixed;
}

/*------------
||LOGIN PAGE||
-------------*/
.form {
  text-align: center;
  padding-top: 50px;
}

/*------------
||  MY PAGE  ||
-------------*/
.user-post {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  height: 60px;
  line-height: 59px;
}

.post-image img {
  height: 50px;
}
